<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--Sqlserver数据库的连接字符串-->
		<add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=IT部-沈郑湘;Initial Catalog=LZTraysDB;User ID=Mode;Password=990701;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
